{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block main %}
    <h1>Salle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomsalle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nomsalle }}</td>
                <td>
                    <a href="{{ path('app_salle_show', {'id': salle.id}) }}">show</a>
                     {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_salle_edit', {'id': salle.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block alerts %}
  {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
        {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
  {% endfor %}
{% endblock %} {# alerts #}
    
{% endblock %}
