{% extends 'base.html.twig' %}

{% block title %}Hall index{% endblock %}

{% block main %}
    <h1>Hall index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hall in halls %}
            <tr>
                <td>{{ hall.id }}</td>
                <td>{{ hall.description }}</td>
                <td>{{ hall.publie ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_hall_show', {'id': hall.id}) }}">show</a>
                    <a href="{{ path('app_hall_edit', {'id': hall.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hall_new') }}">Create new</a>
    {% block alerts %}
  {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
        {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
  {% endfor %}
{% endblock %} {# alerts #}

{% endblock %}
